body {
    display: flex;
    justify-content: center;
}

div.hero {
    border: 2px solid green;
    width: 415px;
    height: 530px;    
}
div.hero div {
    margin: 0;
    padding: 0;
    border: 0;
}

div.hero div#output {
    border: 2px solid pink;
    height: 120px;
}

div.hero button {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}

div.hero div#output p {
    display: inline-block;
}